$primaryFont:'Poppins', sans-serif;

$primaryColorOne: rgb(20, 19, 35);
$primaryColorOne-hover: rgba(20, 19, 35, 0.507);
$primaryColorTwo: rgb(255, 210, 63);
$primaryColorTwo-hover:rgba(255, 210, 63, 0.788);

$secondaryColorOne: rgb(241, 84, 26);
$secondaryColorOne-hover: rgba(241, 83, 26, 0.74);
$secondaryColorTwo: rgb(68, 255, 210);
$secondaryColorThree: rgb(49, 47, 80);
$secondaryColorFour: rgb(112, 112, 112);