#goUp {
    position: fixed;
    top: 85vh;
    right: 6vw;
    font-size: 3.5rem;
    width: 0;
    height: 0;
    color: $secondaryColorOne;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    display: none;
    & i:hover {
        color: $secondaryColorOne-hover;
    }
}

.loader {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    100% {opacity: 0; visibility: hidden;}
}

.home {
    background-color: $primaryColorOne;
    height: 100vh; 
}

.me {
    height: 85%;
    a {
        color:rgb(255, 255, 255);
    }
    &__profilePic {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        background-image: url('../img/profile.jpg');
        background-size: 180%;
        background-position: center 47%;
        background-repeat: no-repeat;
    }
    &__name {
        font-weight: 400;
        cursor: default;
        color: rgb(255, 255, 255);
    }
    &__divider--vertical {
        border-right: 1px solid rgb(255, 255, 255);
        height: 40%
    }
    &__divider--horizontal {
        width: 100px;
        border: 1px solid white;
    }
    &__skills {
        cursor: default;
        font-size: 2em;
        font-weight: normal;
        color:rgb(255, 255, 255);
        span {
            color: $secondaryColorOne;
            animation: shine 1.6s infinite alternate ease-in-out;
            display: block;
        }
    }
    &__arrow {
        color:rgb(255, 255, 255);
        font-size: 2.5em;
        i {
        cursor: pointer;
        animation: upNdown 0.7s infinite alternate ease-in-out;
        }
    }
}

@keyframes upNdown {
    0% {transform: translate(0, 0)};
    100% {transform: translate(0, 15px)};
}

@keyframes shine {
    0% {text-shadow: 0 0 transparent;};
    50% {text-shadow: 0 0 15px $secondaryColorOne;};
    100% {text-shadow: 0 0 transparent;};
}